.partners{
	margin-top:50px;
	display:flex;
	justify-content:space-between;
	align-items:space-between;
}
.partners span a{
	display:flex;
	flex-direction:column;
	text-align:center;
}

.container{
	padding-bottom:60px;
}

.index h1{
	font-size: 2.5rem
}

.index h2{
	font-size: 1.7rem
}

.card-img-top {
	display:block;
	margin:auto;
	height:250px;
	width:auto;
}

.index h1, .index h2, .index h3, .index h4, .index h5, .index h6{
	color: #494399;
} 

.view h1, .view h2, .view h3, .view h4, .view h5, .view h6{
	color: #494399;
} 